{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure            {:mvn/version "1.11.1"}
           techascent/tech.ml.dataset     {:mvn/version "7.029"}
           scicloj/tablecloth             {:mvn/version "7.029.2"
                                           :exclusions  [techascent/tech.ml.dataset
                                                         org.apache.poi/poi-ooxml-schemas
                                                         org.apache.poi/poi
                                                         org.apache.poi/poi-ooxml]}
           io.github.MastodonC/witan.gias {:git/sha "12fe0046ff54982ed272704a85ed026d8e7f35d6"}}
 :aliases {:dev {:extra-paths ["notebooks" "dev"]
                 :extra-deps  {;; Clerk only required to run the demo notebooks. Not required by src namespaces.
                               io.github.nextjournal/clerk {:mvn/version "0.15.957"}}}}}
